<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/aleksandrhazov/IdeaProjects/api_test_getBlend">
        <classes>
            <class name="api.Account.GetAccountDetails">
                <methods>
                    <include name="getAccountDetailsTest"/>
                </methods>
            </class>
            <class name="api.Resources.CreateFileResource">
                <methods>
                    <include name="successCreateTextResourcesTest"/>
                </methods>
            </class>
            <class name="api.Resources.CreateTextResource">
                <methods>
                    <include name="successCreateTextResourcesTest"/>
                </methods>
            </class>
            <class name="api.Resources.GetResource">
                <methods>
                    <include name="getResource"/>
                </methods>
            </class>
            <class name="api.Resources.DownloadResource">
                <methods>
                    <include name="downloadResource"/>
                </methods>
            </class>
            <class name="api.Tools.GetQuote">
                <methods>
                    <include name="GetQuoteTest"/>
                </methods>
            </class>
            <class name="api.Tools.GetWordCount">
                <methods>
                    <include name="GetWordCountTest"/>
                </methods>
            </class>
            <class name="api.Discover.SupportedLanguages.SupportedLanguages">
                <methods>
                    <include name="supportedLanguagesTest"/>
                </methods>
            </class>
            <class name="api.Discover.SupportedExpertise.SupportedExpertise">
                <methods>
                    <include name="supportedExpertiseTest"/>
                </methods>
            </class>
            <class name="api.Discover.SupportedLanguagesPairs.SupportedLanguagesPairs">
                <methods>
                    <include name="supportedLanguagesPairsTest"/>
                </methods>
            </class>
            <class name="api.MachineTranslation.Translate">
                <methods>
                    <include name="translateTest"/>
                </methods>
            </class>
            <class name="api.MachineTranslation.DetectLanguage">
                <methods>
                    <include name="detectLanguageTest"/>
                </methods>
            </class>
            <class name="api.MachineTranslation.MT_MTPE_ProjectCreation">
                <methods>
                    <include name="mt_mtpe_projectCreationTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>